<div class="text-center mb-4">
  <img class="mb-4 rounded-circle" src="assets/logos/logo1.png" alt="logo" loading="lazy" width="180" height="180" />
  <h1 class="h3 mb-3">Test Login Screen</h1>
</div>

<form class="form-signin" (ngSubmit)="login()">
  <div class="form-label-group">
    <input type="text" id="userName" name="username" [(ngModel)]="username" class="form-control" placeholder="Username"
      required autofocus />
    <label for="userName">Username</label>
  </div>
  <div class="form-label-group">
    <input type="password" id="inputPassword" name="password" [(ngModel)]="password" class="form-control"
      placeholder="Password" required />
    <label for="inputPassword">Password</label>
  </div>

  <div class="checkbox mb-3 text-danger" *ngIf="loginError">
    Login failed. Please try again.
  </div>
  <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="busy">
    Sign in
  </button>
</form>


<div class="text-center mb-4">
  <p>New on this site?</p>
  <a routerLink="/Register"><button class="btn btn-success" > Create your own account </button></a>
</div>


<div class="jumbotron bg-transparent text-center">
  <p> Or login via one of these social sites</p>
  <div *ngIf="!user" class="card text-center">
    <h6 class="card-header">
      Social Login Demo
    </h6>
    <div class="card-block">
      <h4 class="card-title">Not signed in</h4>
      <p class="card-text">Sign in with</p>
    </div>
    <div class="card-block">
      <button class="btn btn-social-icon btn-google mx-1" (click)="signInWithGoogle()"><span
          class="fa fa-google"></span></button>
      <button class="btn btn-social-icon btn-facebook mx-1" (click)="signInWithFB()"><span
          class="fa fa-facebook"></span></button>
      <button class="btn btn-social-icon btn-amazon mx-1" (click)="signInWithAmazon()"><span
          class="fa fa-amazon"></span></button>
    </div>
  </div>
  <div *ngIf="user" class="card text-center">
    <h6 class="card-header">
      Social Login Demo
    </h6>
    <div class="card-block"></div>
    <img *ngIf="user.photoUrl" class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
    <div class="card-block">
      <h4 class="card-title">{{ user.name }}</h4>
      <p class="card-text">{{ user.email }}</p>
      <p class="card-text">Logged in with {{ user.provider }}</p>
    </div>
    <div class="card-block">
      <button class="btn btn-danger" (click)="signOut()">Sign out</button>
    </div>
  </div>
</div>
