<div class="text-center mb-4">
  <img class="mb-4 rounded-circle" src="assets/logos/logo1.png" alt="logo" loading="lazy" width="180" height="180" />
  <h1 class="h3 mb-3">Test Registration Screen</h1>
</div>

<form class="form-register" (ngSubmit)="register()">
  <div class="form-label-group">
    <input type="text" id="_username" name="_username" [(ngModel)]="_username" class="form-control" placeholder="Username"
      required autofocus />
    <label for="_username">Username</label>
  </div>

  <div class="form-label-group">
    <input type="text" id="_email" name="_email" [(ngModel)]="_email" class="form-control"
      placeholder="" required />
    <label for="_email">email</label>
  </div>


  <div class="form-label-group">
    <input type="text" id="_password" name="_password" [(ngModel)]="_password" class="form-control"
      placeholder="At least 6 characters" required />
    <label for="_password">Password</label>
  </div>


  <div class="form-label-group">
    <input type="text" id="_password2" name="_password2" [(ngModel)]="_password2" class="form-control"
      placeholder="" required />
    <label for="_password2">Re-enter Password</label>
  </div>

  <div class="checkbox mb-3 text-danger" *ngIf="registerError">
    Registration failed. Please try again.
  </div>

  <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="busy">
    Sign in
  </button>
</form>
