<nav class="navbar sticky-top navbar-expand-sm" style="border-bottom:solid 2px #7da1da">
  <div class="container">
    <a class="navbar-brand" href="#">Passive Robotics</a>
    <h1 class="pb-2 ml-lg-2 mx-3"><a href="#"><i class="fa fa-android" aria-hidden="true"></i></a></h1>
    <button class="navbar-toggler" data-toggle="collapse" data-target=".navbars">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbars" id="collapse_target1">
      <ul class="navbar-nav mx-auto">
        <li>
          <form class="form-inline ml-auto">
            <div class="input-group">
              <input type="text" class="form-control border-dark" placeholder="Search">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link py-0 pr-3" href="#"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0 pr-3" href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0 pr-3" href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0 pr-3" href="#"><i class="fa fa-youtube"></i></a>
        </li>
        <li class="nav-item-end">
          <a class="nav-link py-0 pr-3" href="#"><i class="fa fa-twitch"></i></a>
        </li>

        <li class="nav-item-login">
          <a class="nav-link" href="Login"> <span class="fa fa-sign-in"></span> Login / Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
